.btnCard,
.btnSubmit {
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  transition: background-color 1s;
  background-color: $green;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  &:hover:not(.disabledButton) {
    background: $darkGrey;
    color: $grey;
    border-color: $white;
  }
  &.disabledButton {
    opacity: 0.5;
    cursor: default;
  }
}
.textRight {
  text-align: right;
}
.btnSubmit {
  padding: 20px;
}
